.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
  margin-top: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  gap: 40px;

  .about__div-one {
    width: 100%;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      opacity: 0.3;
      background: #000;
      mix-blend-mode: darken;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;
      border-radius: 25px;
    }
  }

  .about__collapse {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .dropdown {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ff6060;
      color: white;
      border-radius: 5px;

      /* Nouveau bloc pour l'en-tête du dropdown */
      .dropdown-header {
        height: 52px;
        display: flex;
        justify-content: space-between; /* Anciennement dans .dropdown */
        align-items: center;
        padding: 0 15px;
        box-sizing: border-box;

        p {
          font-size: 24px;
          font-weight: 700;
        }

        .icon {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }

      .dropdown-content {
        padding: 15px;
        background-color: white;
        color: #333;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 22px;

    .about__div-one {
      height: 170px;
    }
    .about__collapse {
      width: 90%;
      gap: 25px;

      .dropdown {
        /* Styles ajustés pour .dropdown-header */
        .dropdown-header {
          height: 48px;

          p {
            font-size: 18px;
          }

          .icon {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 789px) {
  .about {
    .about__div-one {
      height: 111px;

      &::before {
        border-radius: 10px;
      }
      img {
        border-radius: 10px;
      }
    }

    .about__collapse {
      width: 100%;
      gap: 20px;

      .dropdown {
        /* Styles ajustés pour .dropdown-header */
        .dropdown-header {
          height: 32px;

          p {
            font-size: 13px;
          }

          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
